.DS_Store
node_modules/
**.bs
token.txt
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
.direnv
_esy
*.install
_build
discopotty.toml
.discostore

*.ctf
# nix artifacts
result

# pijul
.ignore
.pijul
